.Contact {
  min-width: 230px;
  margin: 15px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
}

.card-title {
  background-color: #191919;
  color: #ffffff;
  padding: 15px;
}

.Contact-data {
  color: rgba(17, 17, 17, 0.562);
  font-size: small;
  line-height: 8px;
  padding: 7px;
}
